Java/java_examples Hyd/software/xml/intro/dtd/po2.dtd

<?xml version="1.0"?>
<!-- the above line is to say that we are using xml 1.0 syntax-->
<!DOCTYPE PurchaseOrder[
  <!ELEMENT PurchaseOrder (POLINE+)>
  <!ELEMENT POLINE (itemid,qty)> <!-- this is to indicate that a poline
	element should contain another two items itemid and qty-->
  <!ELEMENT itemid (#PCDATA)> 
  <!ELEMENT qty (#PCDATA)>   
]>

