Java/java_examples Hyd/software/newj2ee/xmlbeans/part2/classes/schema/src/simplemail.xsd

<xs:schema
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://xyz.inetsolv.info/his/own/tags"
   targetNamespace="http://xyz.inetsolv.info/his/own/tags"
   elementFormDefault="qualified">

  <xs:element name="simplemail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="to" type="xs:string"/>
        <xs:element name="from" type="xs:string"/>
        <xs:element name="subject" type="xs:string"/>
        <xs:element name="content" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>
