Java/java_examples Hyd/software/newj2ee/xmlbeans/part1/classes/schema/src/simplestud.xsd

<xs:schema
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.inetsolv.info/my/tags"
   targetNamespace="http://www.inetsolv.info/my/tags"
   elementFormDefault="qualified">

  <xs:element name="simplestudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address" type="xs:string"/>
        <xs:element name="age" type="xs:int"/>
        <xs:element name="fee-paid" type="xs:float"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>
