Java/java_examples Hyd/software/xml/javaxml/part5/myschema.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.inet.com/"
xmlns="http://www.inet.com/"
elementFormDefault="qualified">
<xs:element name="book">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="author" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema> 